<%= render 'navbar' %>
<h2>Hola <%= @user.name %></h2><br/>
<div class="col-md-11">
		<h4>Datos personales</h4><br/>
		<div class="col-md-3">
		<ul class="list-unstyled">
			<li><b>Email:</b> <%= @user.email %></li><br/>
			<li><b>Nombre:</b> <%= @user.name %></li><br/>
			<li><b>Apellidos:</b> <%= @user.surname_1 %> <%= @user.surname_2 %></li><br/>
			<li><b>Fecha de nacimiento:</b> <%= @user.birthday %></li><br/>
			<li><b>Sexo:</b> <%= @user.genre %></li><br/>
			<li><b>DNI o pasaporte:</b> <%= @user.dni_passport %></li><br/>
		</ul>
		</div>
		<div class="col-md-3">
		<ul class="list-unstyled">
			<li><b>País de origen:</b> <%= @user.country %></li><br/>
			<li><b>Teléfono:</b> <%= @user.phone_number_1 %></li><br/>
			<li><b>Teléfono alternativo:</b> <%= @user.phone_number_2 %></li><br/>
			<li><b>Tipo de usuario:</b> <%= @user.job_position %></li><br/>
			<li><%= link_to "Editar datos personales", edit_user_path(@user.id) %></li>
		</ul>
		</div>
	</div>
</div>