<!DOCTYPE html>
<html>
<head>
  <title>Wayfix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="topbar">
    	<img src= <%= asset_path("wayfix.png") %> >
      <ul class="list-inline">
      <% if logged_in? %>
        <li><%= link_to "Cerrar sesión", signout_path, method: :delete %></li>
      <% end %>
      </ul>
    </div>
      <div class="alerts">
      <% if flash[:danger] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:danger] %>
        </div>
      <% end %>
      </div>
      <%= yield %>
</body>
</html>

