<!DOCTYPE html>
<html>
<head>
  <title>Wayfix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topbar">
  	<img src= <%= asset_path("wayfix.png") %> >
    <ul class="list-inline">
    <% if session[:user_id] == nil %>
      <li><%= link_to "Iniciar sesión", login_path %></li>
      <li><%= link_to "Registrarse", signup_path %></li>
    <% else %>
      <li><%= link_to "Cerrar sesión", signout_path, method: :delete %></li>
    <% end %>
    </ul>
  </div>
  <div>
    <%= yield %>
  </div>
  <footer>
    ©Wayfix 2016
  </footer>
</body>
</html>

